students = ['hamza','hassan','niaz','khalil']
for student in students:
     print(student)

In [5]:
students = ['hamza','hassan','niaz','khalil']
for student in students:
    if student == 'niaz':
     print(f' {student} maasi lover')
        
    else:
     print(f' {student} andar jao')

 hamza andar jao
 hassan andar jao
 niaz maasi lover
 khalil andar jao

In [8]:
for a in 'pakistan':
    print(a, end = ' ')

p a k i s t a n

In [10]:
for num in range(10):
    print(num , end = ' ')

0 1 2 3 4 5 6 7 8 9

In [11]:
for num in range(1, 10):
    print(num , end = ' ')

1 2 3 4 5 6 7 8 9

In [20]:
a=int (input('Plz enter a table number'))


for num in range(1,11):
    print(f'{a} * {num} = {a * num}')

Plz enter a table number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [21]:
tablenum=int(input ('ENTER TABLE NUMBER'))
for num in range(1 ,11):
    print(f'{tablenum} * {num} = {tablenum * num}')

ENTER TABLE NUMBER8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [31]:
for num in range(25 ,0 , -4):
    print(num , end = ' ')

25 21 17 13 9 5 1

In [35]:
tablenum=int(input ('ENTER TABLE NUMBER'))
for num in range(1,10):
    if num % 2 == 0:
        continue
        
    else:
        print(f'{tablenum} * {num} = {tablenum * num}')

ENTER TABLE NUMBER5
5 * 1 = 5
5 * 3 = 15
5 * 5 = 25
5 * 7 = 35
5 * 9 = 45

In [36]:
tablenum=int(input ('ENTER TABLE NUMBER'))
for num in range(1,10):
    if num % 2 == 0:
        break
        
    else:
        print(f'{tablenum} * {num} = {tablenum * num}')

ENTER TABLE NUMBER5
5 * 1 = 5

In [43]:
bestfriend= []
friends= []
for num in range(1 , 5):
    name= input('Enter friends name')
    if name.startswith('a'):
        bestfriend.append(name)
    else:
        friends.append(name)
        
print(f'Best friend {bestfriend} ')
print(f' friends {friends} ')

Enter friends nameAhmed
Enter friends nameMamoon
Enter friends nameniaz
Enter friends nameKhalil
Best friend []
Best friend ['Ahmed', 'Mamoon ', 'niaz ', 'Khalil']

['ahmed', 'ali']

In [49]:
for a in [1,2,3] :
    for b in 'Niaz':
        print(a , b )

1 N
1 i
1 a
1 z
2 N
2 i
2 a
2 z
3 N
3 i
3 a
3 z

In [66]:
a=int(input ('ENTER TABLE starts from NUMBER'))
b=int(input ('ENTER TABLE end NUMBER'))
for tablenum in range(a,b):
    print(f' Table of {tablenum}')
    print('--------------')
    for num in range(1,11):
        print(f'{tablenum} * {num}s = {tablenum * num}')
    print('--------------')
    
    print("\n")

ENTER TABLE starts from NUMBER4
ENTER TABLE end NUMBER8
 table of 4
--------------
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
--------------


 table of 5
--------------
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
--------------


 table of 6
--------------
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
--------------


 table of 7
--------------
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
--------------

# List Comprehension

In [68]:
a=[1,2,3,4,5,6,7,8,9]
squares=[]
for num in a:
    squares.append(num**2)
    
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [69]:
[ num**2 for num in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
[ num**2 for num in range(1,11) if num>4]

[25, 36, 49, 64, 81, 100]